@import 'src/styles/variables';
@import 'src/styles/mixins';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $blue;
  border-radius: 12px;
  padding: 16px;
  width: 136px;
  height: 132px;
  cursor: pointer;

  @include tablet {
    width: 332px;
    height: 114px;
  }

  @include desktop {
    width: 384px;
    height: 180px;
    padding: 32px;
  }

  &:hover,
  &:focus {
    box-shadow:
      0 4px 10px 0 rgba(0, 65, 161, 0.2),
      0 4px 20px 0 rgba(129, 217, 255, 0.3);
    transition: box-shadow 0.2s linear;
  }
}

.cardComtent {
  display: flex;
  width: 320px;
}
