$content-max-width: 1200px;
$desktop-min-width: 1280px;
$tablet-max-width: 1279px;
$mobile-max-width: 743px;

$heading-font-family: 'Merriweather', serif;
$body-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Inter', sans-serif;

$fs-xs-mob: 10px;
$fs-xs: 12px;
$fs-s-mob: 14px;
$fs-s: 16px;
$fs-m: 20px;
$fs-l-mob: 24px;
$fs-l: 32px;
$fs-xl: 48px;
$fs-xxl: 64px;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;

$heading-line-height: 1.3;
$text-line-height: 1.5;

$white: #ffffff;
$black: #000000;
$yellow: #ffc700;
$blue: #0041a1;
$light-blue: #81d9ff;

$color-content-text: #000710;
$color-text-faded: #686868;
$color-bg-alt: #d9d9d9;
$color-error: #ef0e30;

$header-bg-grad: linear-gradient(180deg, #0041a1 0%, #2268c0 100%);

$color-box-shadow: rgba(0, 0, 0, 0.25);
$color-button-box-shadow: rgba(0, 0, 0, 0.3);
$color-input-box-shadow: rgba(0, 0, 0, 0.1);

$button-primary-bg: linear-gradient(180deg, #ffe589 0%, #ffe99a 11.5%, #ffc700 45.8%);
$button-primary-bg-hover: linear-gradient(180deg, #ffc700 21.5%, #ffeba3 80.5%, #ffe589 100%);
$button-secondary-bg-hover: rgba(247, 242, 237, 0.2);
$button-secondary-bg-active: #f7f2ed;
$input-bg: rgba(247, 242, 237, 0.4);

$border-radius-cards: 12px;
