@import '../../styles/styles.scss';

.cookies {
  @include flex(column, center, start);
  gap: 24px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 32px 40px;
  color: $color-content-text;
  text-align: left;
  background: $white;
  width: 850px;
  z-index: 9999;

  @media (max-width: $tablet-max-width) {
    width: 744px;
  }
  @media (max-width: $mobile-max-width) {
    width: 320px;
    padding: 16px;
    gap: 16px;
  }

  h3 {
    font-family: $heading-font-family;
    font-weight: $font-bold;
    font-size: $fs-l-mob;
    line-height: $heading-line-height;
    @media (max-width: $tablet-max-width) {
      font-size: $fs-m;
    }
    @media (max-width: $mobile-max-width) {
      font-family: $body-font-family;
      font-size: $fs-s;
    }
  }

  p {
    font-family: $body-font-family;
    font-weight: $font-regular;
    font-size: $fs-m;
    line-height: $text-line-height;
    @media (max-width: $tablet-max-width) {
      font-size: $fs-s;
    }
    @media (max-width: $mobile-max-width) {
      font-family: $secondary-font-family;
      font-size: $fs-xs;
      line-height: $heading-line-height;
    }

    a {
      color: $blue;
    }
  }
}
