@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  display: flex;
  gap: 8px;
  width: 288px;
  height: 24px;
  margin: 16px auto 40px auto;

  font-family: $body-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-content-text;

  @include tablet {
    font-size: 14px;
    width: 680px;
    margin: 24px auto 32px auto;
  }

  @include desktop {
    font-size: 16px;
    width: 1200px;
    margin: 24px auto 64px auto;
  }
}

.titleDot {
  position: relative;
  scale: 3;
  top: 0.2em;
}

.titleRight {
  color: $color-text-faded;
}

// .actionHidden {
//   visibility: hidden;
// }

.main {
  width: 288px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;

  @include tablet {
    width: 447px;
    gap: 32px;
    margin-bottom: 48px;
  }

  @include desktop {
    width: 588px;
    gap: 40px;
    margin-bottom: 64px;
  }
}

.mainGreetings {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 16px;
  }

  .greetingsText {
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $color-content-text;

    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-weight: 400;
    }
  }
}

.logoWrap {
  background-image: url(../../assets/icons/regpage/logo-greeting.svg);
  background-size: contain;
  width: 64px;
  height: 64px;

  @include tablet {
    width: 88px;
    height: 88px;
  }
}

.mainTitle {
  padding: 10px;
  height: 51px;
  font-family: $heading-font-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: $color-content-text;

  @include desktop {
    font-size: 24px;
  }
}

.mainForm {
  width: 100%;
}

.signinLink {
  display: flex;
  width: 288px;
  gap: 8px;

  @include tablet {
    justify-content: space-between;
    width: 261px;
    gap: 0px;
  }

  @include desktop {
    width: 343px;
  }
}

.isProfile {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-content-text;

  @include desktop {
    font-size: 20px;
  }
}

.btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 24px;
  font-size: 16px;
  box-sizing: border-box;

  @include tablet {
    gap: 16px;
  }

  @include tablet {
    width: 82px;
    height: 30px;
  }
}
