@import 'src/styles/variables';
@import 'src/styles/mixins';

.beagrantgiver {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
  height: 502px;

  @include tablet {
    padding: 40px 32px;
    height: 380px;
  }

  @include desktop {
    padding: 64px 120px;
    height: 564px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  height: 422px;

  @include tablet {
    flex-direction: row;
    width: 680px;
    height: 300px;
  }

  @include desktop {
    width: 1200px;
    height: 436px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 288px;
  height: 342px;

  @include tablet {
    width: 475px;
    height: 300px;
  }

  @include desktop {
    width: 742px;
    height: 436px;
  }
}

.contentTitle {
  font-family: $heading-font-family;
  color: $color-content-text;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: left;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 48px;
  }
}

.contentText,
.boldText {
  color: $color-content-text;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 8px;

  @include desktop {
    font-size: 20px;
    margin-top: 24px;
  }
}

.boldText {
  font-weight: 700;
}

.btnWrap {
  width: 100%;
  height: 56px;

  @include tablet {
    width: 182px;
    height: 48px;
  }

  @include desktop {
    width: 215px;
    height: 56px;
  }
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;

  @include tablet {
    width: 160px;
    height: 160px;
  }

  @include desktop {
    width: 320px;
    height: 320px;
  }
}
