/*Classes named by names of buttons from UI kit*/
@import 'src/styles/variables';
@import 'src/styles/mixins';

.authButton {
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
}

.authButton:hover {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
}

.authBtn {
  width: 40px;
  // height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid $black;
  background: $white;
  gap: 0.5rem;

  outline: none;
  border: none;
  // color: $black;
  // font-family: Open Sans;
  // font-size: 0.875rem;
  // font-style: normal;
  // font-weight: 600;
  // line-height: 132%;

  // @include tablet {
  //   width: 40px;
  //   // font-size: 1.125rem;
  //   // font-weight: 700;
  // }

  // @include desktop {
  //   width: 40px;
  // }

  //   @include hover {
  //     &:hover {
  //       //   background: $color-system-default-30;
  //       background: transparent;
  //     }
  //   }

  &:active {
    background: transparent;
  }

  &:disabled {
    // background: $color-system-default-80;
    background: transparent;
  }
}

// .tertiaryIconBtn {
//   display: flex;
//   width: 2.75rem;
//   height: 2.75rem;
//   justify-content: center;
//   align-items: center;
//   gap: 0.625rem;
//   flex-shrink: 0;
//   background-color: transparent;
// }

// .miniIconContainer {
//   display: block;
//   width: 1.5rem;
//   height: 1.5rem;
//   transition: cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
// }

// .bigIconContainer {
//   display: flex;
//   width: 2.5rem;
//   height: 2.5rem;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;

//   @include tablet {
//     width: 2.75rem;
//     height: 2.75rem;
//   }

//   &.burgerMenuBtn {
//     @include desktop {
//       display: none;
//     }
//   }
// }

// .bigIcon {
//   width: 2.5rem;
//   height: 2.5rem;
// }

// .hide {
//   display: none;
// }
