@import "../../styles/styles.scss";

.section {
  width: $desktop-min-width;
  background-color: $white;
}

.container {
  width: $content-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.title {
  color: $black;
  font-family: $heading-font-family;
  font-size: $fs-xxl;
  font-weight: $font-bold;
  line-height: $heading-line-height;
  margin-bottom: 40px;
}

.subtitle {
  color: $black;
  font-family: $heading-font-family;
  font-size: $fs-l-mob;
  font-weight: $font-bold;
  line-height: $heading-line-height;
  margin-bottom: 40px;
}

.errorWrapper {
  margin-bottom: 40px;
}

.errorBtn {
  padding: 16px 32px 16px 32px;
  border-radius: 5px;
  background: $button-primary-bg;
}

.link {
  color: $black;
  font-family: $body-font-family;
  font-size: $fs-m;
  font-weight: $font-medium;
  line-height: 23px;
}
